<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button type="button">기본 버튼</button>
<button type="button" class="btn">BS 버튼 1</button>
<button type="button" class="btn badge-primary">BS Primary 버튼</button>
<button type="button" class="btn btn-success">BS success 1</button>
<button type="button" class="btn btn-warning">BS warning 1</button>
<button type="button" class="btn btn-info">BS info 1</button>
<button type="button" class="btn btn-danger">BS danger 1</button>
<button type="button" class="btn btn-link">BS link 1</button>
<br>
<button type="button" class="btn btn-lg">BS 버튼 1</button>
<button type="button" class="btn btn-primary btn-lg">BS Primary 버튼</button>
<button type="button" class="btn btn-success btn-lg">BS success 1</button>
<button type="button" class="btn btn-warning btn-lg">BS warning 1</button>
<button type="button" class="btn btn-info btn-lg">BS info 1</button>
<button type="button" class="btn btn-danger btn-lg">BS danger 1</button>
<button type="button" class="btn btn-link btn-lg">BS link 1</button>
<br>
<button type="button" class="btn btn-sm">BS 버튼 1</button>
<button type="button" class="btn badge-primary btn-sm">BS Primary 버튼</button>
<button type="button" class="btn btn-success btn-sm">BS success 1</button>
<button type="button" class="btn btn-warning btn-sm">BS warning 1</button>
<button type="button" class="btn btn-info btn-sm">BS info 1</button>
<button type="button" class="btn btn-danger btn-sm">BS danger 1</button>
<button type="button" class="btn btn-link btn-sm">BS link 1</button>
<br>
<button type="button" class="btn btn-xs">BS 버튼 1</button>
<button type="button" class="btn badge-primary btn-xs">BS Primary 버튼</button>
<button type="button" class="btn btn-success btn-xs">BS success 1</button>
<button type="button" class="btn btn-warning btn-xs">BS warning 1</button>
<button type="button" class="btn btn-info btn-xs">BS info 1</button>
<button type="button" class="btn btn-danger btn-xs">BS danger 1</button>
<button type="button" class="btn btn-link btn-xs">BS link 1</button>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


</body>
</html>
