<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button type="button">기본 버튼</button><br>
<button type="button" class="btn">BS 버튼 1</button>
<button type="button" class="btn badge-primary">BS Primary 버튼</button>
<button type="button" class="btn btn-success">BS success 1</button>
<button type="button" class="btn btn-warning">BS warning 1</button>
<button type="button" class="btn btn-info">BS info 1</button>
<button type="button" class="btn btn-danger">BS danger 1</button>
<button type="button" class="btn btn-link">BS link 1</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="../public/javascripts/bootstrap.js"></script>
</body>
</html>
